# Dependencies
/node_modules
/npm-debug.log*

# Build & Distribution
/dist
/build
/.vercel

# IDE & Editor Config
/.idea/
/.vscode/

# Environment Variables
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db